layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="monitoring" {
        pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
              command "bash"
              args "-c" "cd bin/test/chat1/ && ./p2pchat"
            }
            pane {
              command "bash"
              args "-c" "cd bin/test/chat2/ && ./p2pchat"
            }
        }
        pane split_direction="horizontal" {
            pane {
              command "bash"
              args "-c" "cd bin/test/chat3/ && ./p2pchat"
            }
            pane {
              command "bash"
              args "-c" "cd bin/test/chat4/ && ./p2pchat"
            }
        }
        }
    }
}
